@charset 'utf-8';
//公共样式
@import '../lib/core/reset.scss';
@import './core/common.scss';
@import './core/swiper-3.3.1.min.css';
// layout
spa-app {
    position: absolute;
    overflow: hidden;
}

spa-view {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #eceef0 !important;
    @include flexbox(flex);
    @include flex-direction(column);
}
//views
@import './module/index.scss';
@import './module/home.scss';
@import './module/search.scss';
@import './module/cook.scss';
@import './module/club.scss';
@import './module/more.scss';
@import './module/guide.scss';














