
@font-face {
  font-family: yofont;
  src: url("/food/images/iconfont/iconfont.woff") format("woff"), url("/food/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/food/images/iconfont/iconfont-nav.woff") format("woff"), url("/food/images/iconfont/iconfont-nav.ttf") format("truetype");
}
//
//@font-face {
//font-family: yofont;
//src: url("/food/images/iconfont/iconfont-back.woff") format("woff"), url("/food/images/iconfont/iconfont-back.ttf") format("truetype");
//}
